.navcontainer {
  width: 100%;
  margin-top: 10px;
  @media #{$desktop} {
    justify-content: flex-end;
  }
}

.navcontainer a {
  @media #{$desktop} {
    color: white !important;
  }
  @media #{$tablet}, #{$mobile} {
    color: #9999a3 !important;
    border-bottom: #9999a3 1px solid;
    width: 100%;
    padding-left: 5px !important;
    &:hover {
      color: white !important;
      background-color: #9999a3;
      text-decoration: none !important;
    }
  }
}

.Navbar {
  * {
    color: white;
  }
}
