.navcontainer {
  width: 100%;
  margin: 10px 0 15px 0;
  background-color: #1c1c36;
  padding-bottom: 25px !important;
  @media #{$desktop} {
    justify-content: flex-end;
  }
}

.navcontainer a {
  @media #{$desktop} {
    color: white !important;
  }
  @media #{$tablet}, #{$mobile} {
    color: white !important;
    border-bottom: rgb(184, 184, 184, 0.3) 1px solid;
    width: 100%;
    padding-left: 5px !important;
    &:hover {
      color: white !important;
      background-color: rgb(184, 184, 184);
      text-decoration: none !important;
    }
  }
}

.Navbar {
  z-index: 5;
  * {
    color: white !important;
  }
}
