.container {
  height: 100vh;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.main p {
  font-size: 2rem;
}

.footer {
  width: 100%;
  text-align: center;
}

.footer a {
  padding: 10px;
}

.img {
  width: 30px;
}
