.container {
  height: 100vh;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  padding: 25px;
}

.main p {
  font-size: 2rem;
  font-family: #{$AvenirNext-DemiBold};
}

.header {
  width: 100%;
  text-align: right;
  padding: 20px;
}

.header a {
  padding: 10px;
}

.img {
  width: 30px;
}
